* {
    font-size: 16px;
    font-family: Tahmoa, Arial;
}

#container{
    position: relative;
}

#wrapper{
    margin: 10em;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
}

.header {
	background-color:  gray;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: -10em;
    margin-left: -10em;
    margin-right: -10em;
    margin-bottom: 10px;
  
}
h1 {
    color: white;
    margin-left: 1em;
}

body {
    margin: 10em;      
}
table {
    border-collapse: collapse;
 }

 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
    border: 1px solid gray;
 }

.table-header{
    background: rgb(177,177,177);
    background: linear-gradient(180deg, rgba(177,177,177,1) 0%, rgba(255,255,255,1) 100%);
}

.alert{
     color: red;
}

 button {
    width: 150px;
    height: 30px;
    float: right;
}

.custom-file{
    background-color: #EEE;
    width: 400px;
    height: 30px;
    border: 1px solid #CCC;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.custom-file > span{
    font-size: 15px;
    display: block;
    padding: 5px 0 0 5px;
}

.custom-file input[type="file"]{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    z-index: 2;
}

.custom-file:after{
    content: 'Cargar';
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: gray;
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 0;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: Tahmoa, Arial;
}